.blog-form {
    .button-pub {
        margin-top: 20px;
        width: 98%;
        background-color: $primaryColor;
        padding: 10px;
        font-size: $f-md;
        color: white;
        border-radius: $r-base;
    }
}