@font-face {
    font-family: 'Jost';
    src: url('../font/jost.ttf');
}

body {
    font-family: "Jost";
    line-height: 20px;
    background-color: white;
    text-justify: auto;
    font-size: $f-md;

    a {
        color: inherit;
        text-decoration: none;
    }

    button {
        border: none;
        background-color: transparent;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.01);
        }
    }

    ul {
        list-style: none;

        li {
            margin: inherit;
            padding: inherit;
        }
    }
}