.details {
    max-width: $max-width;
    margin: auto;
    padding: 50px 0;

    &__others {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 100px;
    }

    &__feedbacks {
        display: grid;
        grid-template-columns: 65% 35%;
        column-gap: 50px;
        margin: 100px 0;

        .lists {
            @include flex;
            flex-direction: column;
            row-gap: 50px;
        }
    }
}