// padding
$p-min : 10px;
$p-base : 20px;

// colors
$grayColor : rgba(90, 90, 90, 0.87);

// font-size 
$f-xxl : 36px;
$f-xl : 24px;
$f-large : 20px;
$f-md : 16px;
$f-base : 14px;
$f-min : 12px;

//raidus
$r-base : 8px;


// width
$max-width : 1440px;