.dark{
    border-color: gray;
     background-color: #222;
     color: rgb(156, 156, 156);
     
     .chartGrid{
        stroke: rgb(228, 225, 225);
    }

    .tableGrid{
        background-color: #111;
        color: gray;
    }
    .navbar{
        border-color: gray;
    }
    
    .top{
        .logo{
            color: #999;
        }
    }
    .sidebar{
        
        hr{
            border-color: #333;
        }
        .center{
            ul{
                li{
                  &:hover{
                    background-color: #333;
                  }  
                .Icon{
                    color: #999;
                  }
                }
        }
        
        }
    }

}